 -----
 About
 -----
  Schuchardt
 <xypron.glpk@gmx.de>
 -----
 December 2011
 -----

About

 The interfaces of linear optimization packages like GLPK are not easy to use.
 The Linear Optimization Wrapper for Java provides classes that wrap the
 solver and provide an intiutive interface.

 This release is based on GLPK for Java ${glpkjavaversion}.

* Maven

 For using this library in your Maven project enter the following repository
 and dependency in your pom.xml:

---
    <repositories>
        <repository>
            <id>XypronRelease</id>
            <name>Xypron Release</name>
            <url>https://www.xypron.de/repository</url>
            <layout>default</layout>
        </repository>
    </repositories>
    <dependencies>
        <dependency>
            <groupId>${project.groupId}</groupId>
            <artifactId>${project.artifactId}</artifactId>
            <version>${project.version}</version>
        </dependency>
    </dependencies>
---

 When testing with Maven it may be necessary to indicate the installation path
 of the GLPK for Java shared library (.so or .dll).

---
mvn clean install -DargLine='-Djava.library.path=/usr/local/lib/jni:/usr/lib/jni'
---

 The exec:java target may require to indicate the installation path
 of the GLPK for Java shared library in MAVEN_OPTS, e.g.

---
export MAVEN_OPTS="-Djava.library.path=/usr/local/lib/jni:/usr/lib/jni"
mvn exec:java
---

